__pycache__/RPS_Game.cpython-310.pyc
Game/__pycache__/RPS_Game.cpython-310.pyc
Game/RPS_Game.egg-info/dependency_links.txt
Game/RPS_Game.egg-info/PKG-INFO
Game/RPS_Game.egg-info/SOURCES.txt
Game/RPS_Game.egg-info/top_level.txt
Game/RPS_Tools/__pycache__/RPS_SimpleGame.cpython-310.pyc
Game/RPS_Tools/maches_jouées.txt
Game/__pycache__/rps_game.cpython-310.pyc

Game/RPS_Tools/rps_simplegame.egg-info/top_level.txt
Game/RPS_Tools/rps_simplegame.egg-info/SOURCES.txt
Game/RPS_Tools/rps_simplegame.egg-info/PKG-INFO
Game/RPS_Tools/rps_simplegame.egg-info/dependency_links.txt
Game/RPS_Tools/__pycache__/rps_simplegame.cpython-310.pyc
Game/RPS_Tools/test_file.txt
Game/__pycache__/rps_game.cpython-310.pyc
Game/RPS_Tools/manches_jouees.txt
Game/__pycache__/rps_game.cpython-310.pyc
